.album-tile {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: filter 1s ease-out 100ms;
  filter: grayscale(100%);
  .details {
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: white;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 1s ease-out 100ms;
    span {
      transition: opacity 1s ease-out 100ms;
      padding: 20px;
      font-size: 1rem;
      text-align: center;
    }

    .more-photos {
      border: none;
      background-color: transparent;
      border: 2px solid #fff000;
      color: #fff;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 0.1em;
      outline: none;
      box-shadow: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
      padding: 8px 24px;
      font-weight: 600;
      &:hover {
        background-color: #fff000;
        color: #000000;
      }
    }
  }

  &:hover {
    .details {
      opacity: 1;
    }
    filter: grayscale(0%);
  }
}
