.navbar {
  &.bg-dark {
    background-color: black !important;
  }
  padding-bottom: 1.875rem !important;
  .navbar-brand {
    color: #fff000;
    font-family: 'Josefin';
    font-size: 32px;
  }
}
