.photo {
  transition: filter 1s ease-out 100ms;
  filter: grayscale(100%);
  cursor: zoom-in;
  img {
    width: 100%;
  }
  &:hover {
    filter: grayscale(0%);
  }
}

.modal-container {
  .rodal-dialog {
    width: fit-content !important;
    height: fit-content !important;
    background-color: #000;
    box-shadow: 0 0px 10px 6px rgba(255, 255, 0, 0.5);
    max-width: 80%;
    .modal-content {
      flex-direction: row;

      img {
        width: -webkit-fill-available;
      }

      .photo-details {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        color: #fff;
      }
    }
  }
}
