.photo-details-container {
  width: 100%;
  color: #fff;
  cursor: default;
  .content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .photo-container {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
      .photo-title {
        margin-top: 3rem;
        text-align: center;
      }
      @media screen and (max-width: 760px) {
        img {
          width: -webkit-fill-available;
        }
      }
    }
    .album-details,
    .user-details {
      h3 {
        margin-top: 3rem;
        &:hover {
          color: #fff000;
        }
      }
      .cursor {
        cursor: pointer;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: rgb(76, 76, 76);
        a {
          color: rgb(255, 240, 0);
          &:hover {
            color: #fff;
          }
        }
        &.light {
          &:hover {
            color: #fff;
          }
        }
      }
    }
    @media screen and (max-width: 760px) {
      font-size: 12px;
    }

    .divider {
      width: 50%;
      height: 0.5px;
      background: #fff;
      background: -webkit-linear-gradient(
        left,
        rgb(90, 90, 90) 0%,
        rgb(255, 240, 0) 50%,
        rgb(90, 90, 90) 100%
      );
      margin-top: 3rem;
      @media screen and (max-width: 768px) {
        width: 75%;
      }
    }
  }
}
